<div class="p-6 max-w-xl mx-auto">

    <h2 class="text-2xl font-bold mb-6">Create user</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

        <div>
            <label class="block font-medium">Name</label>
            <input type="text" formControlName="name" class="w-full border rounded px-3 py-2" />
            @if (form.controls.name.touched && form.controls.name.errors) {
            <p class="text-red-600 text-sm">
                {{
                form.controls.name.errors['backend']
                || form.controls.name.errors['minlength'] && 'Имя должно состоять как минимум из 2 символов'
                || form.controls.name.errors['maxlength'] && 'Имя должно состоять как максимум из 40 символов'
                || form.controls.name.errors['required'] && 'Имя пользовател обязательно'
                }}
            </p>
            }

        </div>
        <div>
            <label class="block font-medium">Surname</label>
            <input type="text" formControlName="surname" class="w-full border rounded px-3 py-2" />
            @if (form.controls.surname.touched && form.controls.surname.errors) {
            <p class="text-red-600 text-sm">
                {{
                    form.controls.surname.errors['backend']
                    || form.controls.surname.errors['minlength'] && 'Фамилия должна состоять как минимум из 2 символов'
                    || form.controls.surname.errors['maxlength'] && 'Фамилия должна состоять максимум из 40 символов'
                    || form.controls.surname.errors['required'] && 'Фамилия пользователя обязательна'
                }}
            </p>
            }
        </div>

        <div>
            <label class="block font-medium">Password</label>
            <input type="password" formControlName="password" class="w-full border rounded px-3 py-2" />
            @if (form.controls.password.touched && form.controls.password.errors) {
            <p class="text-red-600 text-sm">
                {{ 
                    form.controls.password.errors['backend']
                    || form.controls.password.errors['minlength'] && 'Пароль долже нсодержать как минимум 6 символов'
                    || form.controls.password.errors['required'] && 'Пароль обязателен для заполнения'
                 }}
            </p>
            }
        </div>

        <div>
            <label class="block font-medium">Email</label>
            <input type="email" formControlName="email" class="w-full border rounded px-3 py-2" />
            @if(form.controls.email.touched && form.controls.email.errors){
                <p class="text-red-600 text-sm">
                    {{
                        form.controls.email.errors['backend']
                        || form.controls.email.errors['minlength'] && 'Емейл пользователя должен содержать как минимум 15 символов'
                        || form.controls.email.errors['maxlength'] && 'Емейл пользователя должен содержать максимум 40 символов'
                        || form.controls.email.errors['requiered'] && 'Емейл пользователя обязателен для заполнения'
                        || form.controls.email.errors['email'] && 'Емейл пользователя невалиден'
                    }}
                </p>
            }
        </div>

        <div>
            <label class="block font-medium">Role</label>
            <select formControlName="role" class="w-full border rounded px-3 py-2">
                <option value="ADMIN">ADMIN</option>
                <option value="MANAGER">MANAGER</option>
                <option value="TEACHER">TEACHER</option>
            </select>
        </div>

        <button type="submit" class="bg-slate-900 text-white px-4 py-2 rounded disabled:opacity-50">
            Create
        </button>

    </form>
</div>